.syllabus-container {
    padding: 20px;
    background: linear-gradient(135deg, rgba(249, 109, 199, 0.15), rgba(126, 196, 225, 0.15)); /* Soft pastel gradient */
    text-align: center;
    border-radius: 20px; 
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

.syllabus-container:hover {
    background-color: rgba(249, 109, 199, 0.2); 
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15); 
}


.syllabus-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.syllabus-search-form {
    display: flex;
    align-items: center;
    border: 2px solid #6c6ca8; 
    border-radius: 35px; 
    overflow: hidden;
    background: linear-gradient(135deg, #e3f7fc, #b3e8f2); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08); 
}

.syllabus-search-icon-container {
    padding: 12.8px;
    background-color: #0c74b4; 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px 0 0 35px; 
    transition: background-color 0.3s ease;
}

.syllabus-search-icon {
    color: white;
    font-size: 1.8em; 
}

.syllabus-search-input {
    padding: 14px 22px;
    border: none;
    outline: none;
    width: 350px; 
    font-size: 1.1em;
    color: #333;
    background-color: white; 
    transition: width 0.3s ease; 
}

.syllabus-search-input:focus {
    width: 380px; 
}

.syllabus-search-button {
    padding: 15.2px 22px;
    background-color: #2f7bc2; 
    color: white; 
    border: none;
    border-radius: 0 35px 35px 0; 
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.syllabus-search-button:hover {
    background-color: #16304a; 
    transform: scale(1.05); 
}


.syllabus-no-results {
    margin-top: 10px;
    color: #e74c3c; 
    font-weight: bold;
    font-size: 1.1em;
}


.syllabus-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}


.syllabus-item {
    padding: 15px;
    margin: 20px;
    width: 200px;
    height: 130px; 
    background: linear-gradient(135deg, #f7f7ff, #dcdcf9); 
    border-radius: 15px; 
    color: #333;
    border: 1px solid #6c6ca8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.syllabus-item:hover {
    transform: translateY(-8px); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15); 
}

.syllabus-item-title {
    font-size: 1.3em;
    color: #0c74b4; 
    text-align: center;
    margin: 0;
    font-family: 'Helvetica Neue', sans-serif; 
}
