/* UserProfile.css */

.profile-page {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.sidebar {
  width: 25%;
  background: linear-gradient(135deg, rgba(203, 9, 128, 0.2), rgba(0, 184, 255, 0.2));

  /* background: linear-gradient(115deg,#ebebff, rgb(203, 9, 128, 0.2) ), 
              url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuxFElygTFB1SGtCeRmvog_mvsXbQsSitukw&s'); */
  background-color: #e4e9ff;
  background-size: cover;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile-box {
  text-align: center;
  margin-bottom: 30px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  border : 2px solid #172d66;
}

.profile-box h3 {
  font-size: 1.5rem;
  color: #172d66;
  margin: 10px 0;
}

.profile-box p {
  color: #666;
  font-size: 0.9rem;
}

.edit-profile {
  background-color: #cb0980;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile:hover {
  background-color: #2196F3;
}

.quick-links {
  margin-top: 60px;
}

.quick-links h4 {
  font-size: 1.4rem;
  color: #172d66;
  margin-bottom: 10px;
}

.quick-links ul {
  color : #172d66;
  list-style-type: none;
  padding: 0;
}

.quick-links li  {
  margin-bottom: 8px;

}

.quick-links a {
  color: #172d66;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.2rem;
}

.quick-links a:hover {
  text-decoration: underline;
}

.main-content {
  width: 75%;
  padding: 20px;
  overflow-y: auto;
}

.combined-sections {
  display: flex;
  justify-content: space-between;
  gap : 20px;
  margin-bottom: 20px;
}

.events-section {
  width: 48%;
  max-height: 350px;
  overflow-y: auto;
  background-color: #ebebff68;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-right: 20px;
}

.events-header {
  font-size: 2em;
  color: #172d66;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.events-list {
  display: flex;
  flex-direction: column;
}

.event-card1 {
  background: linear-gradient(135deg, #f3f4f6, #e4e9ff);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.event-card1:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color : #172d66;
}

.event-title {
  font-size: 1.5em;
  margin: 15px 0;
  color: #172d66;
}

.posts-section {
  width: 50%;
  max-height: 350px;
  overflow-y: auto;
  background-color: #ebebff68;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.posts-container {
  display: flex;
  flex-direction: column;
}

.post-card {
  background: linear-gradient(135deg, #f3f4f6, #e4e9ff);
  /* background: linear-gradient(135deg, rgba(203, 9, 128, 0.2), rgba(0, 184, 255, 0.2)); */
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-height: 300px;
}
.post-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color : #172d66;
}
.post-title {
  font-size: 1.5em;
  margin-bottom: 5px;
  color: #172d66;
}

.scroll-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.scroll-button {
  background-color: #cb0980;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 5px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.scroll-button:hover {
  background-color: #b66a7c;
}

.attendance-section {
  background-color: #ebebff68;
  padding: 40px;
  border-radius: 14px;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.pie-chart-section {
  display: flex;
  justify-content: space-between;
}

.small-pie-chart {
  width: 50%;
}

.legend-section {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-item1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.legend-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.tracker-title1, .events-header {
  font-family: "Playwrite GB S", cursive;
  font-size: 2rem;
}

.present-circle { background-color: #4caf50; }
.absent-circle { background-color: #f44336; }
.remaining-circle { background-color: #ffc107; }
.holiday-circle { background-color: #2196F3; }

.navigation-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.arrow {
  font-size: 2em;
  cursor: pointer;
  margin: 0 20px;
  color: #172d66;
  transition: color 0.3s;
}

.arrow:hover {
  color: #172d66;
}

.modal-overlay1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Adding blur effect for a futuristic feel */
}

.modal-container1 {
  background-color: #ebebff; /* Dark background for a modern look */
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  color: #172d66; /* White text for contrast */
  text-align: center; /* Centered text */
}

.modal-container1 h2 {
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.image-preview-container {
  margin: 20px 0;
}

.avatar-preview {
  width: 100%;
  height: auto;
  border: 2px solid #00b8ff;
  border-radius: 12px;
}

.placeholder-preview {
  text-align: center;
  padding: 10px;
  border: 2px dashed #ccc;
  border-radius: 12px;
  color: #ccc;
}

.modbuts {
  background-color: #00b8ff; /* Accent button color */
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modbuts:hover {
  background-color: #cb0980; /* Darker shade on hover */
}
